<!doctype html>
<html lang="{{if .lan}} {{.lan}} {{- else}} en {{- end}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {{if .title}} {{.title}} {{- else}} verify user email. {{- end}}

    </title>
</head>
<body>
<div style="background-color:#ffffff"><div class="adM">
</div>
    <center>
        <table style="width:560px;margin:0;padding:0;font-family:Helvetica,Arial,sans-serif;border-collapse:collapse!important;height:100%!important;background-color:#ffffff" align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="m_7893610788045296127bodyTable">
        <tbody>
        <tr>
            <td align="center" valign="top" id="m_7893610788045296127bodyCell" style="margin:0;padding:0;font-family:Helvetica,Arial,sans-serif;height:100%!important">
                <div style="background-color:#ffffff;color:#202123;padding:27px 20px 0 15px">
                    <p style="text-align:left;margin:0">
                        <img src="https://ci3.googleusercontent.com/proxy/RGGaxLm0ifN5YB6SrijKMz6G2lcKMcrApU1aWOvkSRSUclVDoY0yw2_WK4rwbxXMcXE-wpYZqoDcsxiDLS_CKp5IzdMw9toGr0_XwEOG5i4RqySValLO7A=s0-d-e1-ft#https://cdn.openai.com/API/logo-assets/openai-logo-email-header-1.png" width="560" height="168" alt="OpenAI" title="" style="width:140px;height:auto;border:0;line-height:100%;outline:none;text-decoration:none" class="CToWUd" data-bit="iit">
                    </p>
                </div>
                <div style="background-color:#ffffff;color:#353740;padding:40px 20px;text-align:left;line-height:1.5">
                    <h1 style="color:#202123;font-size:32px;line-height:40px;margin:0 0 20px">Verify your email address</h1>

                    <p style="font-size:16px;line-height:24px">
                        To continue setting up your IgbOT account, please verify that this is your email address.
                    </p>

                    <p style="margin:24px 0 0;text-align:left">
                        <a href="{{.register_url}}" style="display:inline-block;text-decoration:none;background:#10a37f;border-radius:3px;color:white;font-family:Helvetica,sans-serif;font-size:16px;line-height:24px;font-weight:400;padding:12px 20px 11px;margin:0px" target="_blank">
                            Verify email address
                        </a>
                    </p>
                </div>
                <div style="text-align:left;background:#ffffff;color:#6e6e80;padding:0 20px 20px;font-size:13px;line-height:1.4">
                    <p style="margin:0">
                        This link will expire in 5 days. If you did not make this request, please disregard this email. For help, contact us through our <a href="#">Help center</a>.
                    </p>
                </div>
            </td>
        </tr>
        </tbody>
        </table>
    </center>
</body>
</html>